* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar {
    /* width: 98.3vw; */
    width: 100%;
    min-height: 10vh;
    background-color: #aa56b7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-family: sans-serif;
    color: #2a064e;
    cursor: pointer;
}

.nav {
    display: flex;
    list-style: none;
}

.nav li a {
    margin: 0px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.nav li a:hover {
    color: #2a064e;
}

.serch input[type="button"] {
    padding: 7px 10px;
    font-size: 20px;
    border-radius: 14px;
    background: #ccade9;
    border: 1.5px solid #130232;
    transition: all 0.3s ease-in;
}

.serch input:hover[type="button"] {
    cursor: pointer;
    background: #b478ed;
}

.contact-heading a {
    text-decoration: none;
    font-family: monospace;
    margin: 3rem 4rem;
    color: #390142;
    border-bottom: 2px solid #9c27b0;
    display: inline-block;
}

#info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-family: system-ui;
    font-weight: 600;
}

.point-1 a {
    text-decoration: none;
    display: block;
    color: black;
}

.point-2 {
    /* text-decoration: none; */
    display: block;
}

.point-3 input[id="email"] {
    font-size: 13px;
    padding: 7px 20px;
    outline: none;
    border-radius: 19px;
    cursor: pointer;
    background-color: white;
}

.btn {
    font-size: 13px;
    padding: 7px 17px;
    border-radius: 19px;
    cursor: pointer;
    background-color: #efaaf9;
    transition: all 0.3s ease-in;
}

.btn:hover {
    background-color: #b478ed;
}

#ftr {
    /* background-color: #aa56b7; */
    /* min-height: 15vh; */
    margin-top: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px;
}

.ftr-1 i {
    margin: 0px 11px;
    cursor: pointer;
    color: black;
    font-size: 22px;
}

.point-combo {
    display: contents;
}

#barsbtn {
    position: absolute;
    top: 20px;
    right: 18px;
    z-index: 2;
}

#icon {
    display: none;
}

@media only screen and (max-width:850px) {
    .nav li a {
        margin: 0px 12px;
        text-decoration: none;
        transition: all 0.3s ease-in;
    }
}

@media only screen and (max-width:730px) {
    #info {
        align-items: center;
        flex-direction: column;
    }

    .point-combo {
        display: flex;
    }

    .point-1 {
        margin-right: 45px;
    }

    .point-3 {
        margin-top: 50px;
    }

    #ftr {
        margin-top: 7rem;
    }

    .logo {
        margin-top: 20px;
    }

    #navbar {
        position: absolute;
        top: 0;
        flex-direction: column;
        z-index: 1;
        transition: all 0.5s ease-in;
        transform: translate(0px, -350px);
    }

    .nav {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .nav li {
        margin-top: 16px;
    }

    .serch {
        margin-top: 33px;
        margin-bottom: 20px;
    }

    #icon {
        display: block;
    }
}

@media only screen and (max-width:600px) {
    .contact-heading {
        text-align: center;
    }

    #ftr {
        flex-direction: column;
        text-align: center;
    }

    .ftr-1 i {
        margin: 20px 9px;
    }
}

@media only screen and (max-width:410px) {
    .point-1 {
        margin-right: 20px;
    }

    #info {
        margin: 0px 20px;
    }

    .btn {
        margin-top: 7px;
    }

    .point-combo {
        font-size: 14px;
    }

    #ftr {
        margin-top: 4rem;
    }
}